body {
    position: fixed;
    background-color: #000;
    color: #fff;
    font-family: Courier, monospace;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

h2, h3, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 1em;
}

canvas {
    height: 100%;
    width: 100%;
}

.title {
    margin-bottom: .75rem;
    text-align: center;
}

.blink {
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0%      { color: #000; }
    70%     { color: #000; }
    80%     { color: transparent; }
    90%     { color: transparent; }
    100%    { color: #000; }
}

.game-container {
    height: 95%;
    width: 95%;
    margin: 1.1em auto 0;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    -webkit-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
    pointer-events: none;
    z-index: 2;
}

.modal > div {
    position: relative;
    border-radius: 10px;
    background: #999;
    background: -webkit-linear-gradient(#fff, #999);
    background:    -moz-linear-gradient(#fff, #999);
    background:      -o-linear-gradient(#fff, #999);
    color: #000;
    margin: 60px auto;
    padding: 1rem;
    width: 400px;
}

.player {
    font-weight: 700;
    text-decoration: underline;
}

.score {
    position: fixed;
    top: 1.4rem;
    font-size: 4.5rem;
    letter-spacing: -1rem;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.tab {
    padding-left: 2em;
}

@media only screen and (max-width: 500px) {
    .modal > div {
        font-size: .64rem;
        width: 250px;
    }
}
